  <nav class="navbar navbar-expand-lg bg-body-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-brands fa-airbnb"></i> <b>airbnb</b></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link add-listing" href="/listings/new"><b>Airbnb your home</b></a>
          <% if(!currUser){ %>
          <a class="nav-link sign" aria-current="page" href="/signup"><b>SignUp</b></a>
          <a class="nav-link log" href="/login"><b>Login</b></a>
          <% } %>
          <% if(currUser){ %>
          <a class="nav-link log" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>