<% layout('layouts/boilerplate') -%>
<div class="row">
    <div class="alert alert-danger align-items-center" role="alert">
        <h4 class="alert-heading">Error Detected:  <%= err.message  %></h4>
      </div>
</div>